@model YourApp.Models.Kategori
@{
    ViewData["Title"] = "Detail Kategori";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="content-header">
    <h1>Detail Kategori</h1>
</section>

<section class="content">
    <div class="card card-info">
        <div class="card-body">
            <dl class="row">
                <dt class="col-sm-3">ID</dt>
                <dd class="col-sm-9">@Model.Id</dd>

                <dt class="col-sm-3">Tipe</dt>
                <dd class="col-sm-9">@Model.Tipe</dd>

                <dt class="col-sm-3">Nama</dt>
                <dd class="col-sm-9">@Model.Nama</dd>

                <dt class="col-sm-3">Deskripsi</dt>
                <dd class="col-sm-9">@Model.Deskripsi</dd>

                <dt class="col-sm-3">Status</dt>
                <dd class="col-sm-9">@Model.Status</dd>
            </dl>
        </div>
        <div class="card-footer">
            <a href="@Url.Action("Edit", new { id = Model.Id })" class="btn btn-warning">Edit</a>
            <a href="@Url.Action("Index")" class="btn btn-secondary">Kembali</a>
        </div>
    </div>
</section>
